<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Simple React App for writing messages. PWA ready!">
    <meta name="keywords" content="react,pwa,ssr,responsive,offline">
    <meta name="theme-color" content="gray">
    <title>Message Board</title>
    <%- styles %>
    <link rel="manifest" href="/manifest.json">
    <link rel="icon" sizes="192x192" href="/images/board-16.png">
</head>
<body>
    <div id="root"><%- appString %></div>
    <script>
      window.__API_URL__ = <%- apiUrl %>;
      window.__REACT_STATE__ = <%- state %>;
    </script>
    <%- js %>
</body>
</html>